// Colours
$verylightgrey: #f8f8f8;
$lightgrey: #e7e7e7;
$darkgrey: #2f2f2f;
$backgroundgrey: #dedede;
$verydarkgrey: #333333;
$bordergrey: #c6c6c6;
$actiongrey: #dbdbdb;
$lightblue: #59bedf;
$green: #88ac34;

// Typography
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Times, serif;